﻿@using CrnStudios.Models

@model UserViewModel
@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("~/Views/Shared/_NavMenu.cshtml", Model)
    <div id="shoppingCart-modal" style="position:absolute;top:100%;z-index:1;left:12%;display:none">
       
    </div>

<div class="slide-one-item home-slider owl-carousel">

    <div class="site-blocks-cover overlay" style="background-image: url(../../Images/slide1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center" data-aos="fade">

                    <h1 class="mb-2">Полесская опытная станция</h1>
                    <h2 class="caption">Ваш выбор при выборе с\х продукции</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="site-blocks-cover overlay" style="background-image: url(../../Images/slide2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center" data-aos="fade">
                    <h1 class="mb-2">Залог качества</h1>
                    <h2 class="caption">Произведено по белорусским стандартам</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="site-blocks-cover overlay" style="background-image: url(../../Images/slide3.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center" data-aos="fade">
                    <h1 class="mb-2">Начни заказывать прямо сейчас</h1>
                    <a class="bot1" style="cursor:pointer" onclick="registerModal()" id="register">Регистрация</a>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="rooms-sect"></div>
<div class="site-section bg-light" id="products-data-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                <h2 class="mb-5">Наши товары</h2>
            </div>
        </div>
        <div class="row" id="products">

        </div>
    </div>
</div>

<div class="site-section" id="about-sect">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 mb-5 mb-md-0">


                <img src="../../Images/1.jpg" id="about-img" style="display:none" alt="Image" class="img-fluid image-absolute">

            </div>
            <div class="col-md-5 ml-auto" id="about-text">


                <div class="section-heading text-left">
                    <h2 class="mb-5">О нас</h2>
                </div>
                <p class="mb-4" style="display:none">
                    Опытная станция мелиоративного земледелия и луговодства расположена в посёлке Полесский Лунинецкого района.
                </p>
                <p style="display:none">Её основная деятельность – это разработка и внедрение технических нормативов реконструкции и эксплуатации мелиоративных систем и технологических регламентов сельскохозяйственного использования осушенных маломощных торфяных почв Полесья.</p>

            </div>
        </div>
    </div>
</div>

<div class="site-section" id="contacts-sect">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-md-12 ml-auto" id="contacts-text">


                <div class="section-heading text-left">
                    <h2 class="mb-5">Контакты</h2>
                </div>
                <p class="mb-4" style="display:none">
                    Адресс: Беларусь, 225671 Брестская область, Лунинецкий р-н, а/г Полесский, ул. Октябрьская, 7
                </p>
                <p style="display:none">Тел: +375 (1647) 7-72-21-руководитель., 7-72-41-отдел кадров, (029)122-06-57-директор., (029)122-06-79-главный бухгалтер., 7-72-90-гл.инжен. +375 (1647) 77281-бухгалтер., 77283-приёмная</p>

            </div>
        </div>
    </div>
</div>

