﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Полесская опытная станция</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/Content/auth.css">
    <link rel="stylesheet" href="~/Fonts/flaticon/font/flaticon.css">

    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="site-wrap">

        <form class="box" id="loginModal" action="/Auth/Login" method="post" style="display:none">
            <h1>Вход         <span onclick="closeModals()" style="margin: -30px 63px; font-size: 21px; cursor: pointer;position: absolute;">&#10006;</span></h1>
            <input type="text" name="username" placeholder="Логин">
            <input type="password" name="password" placeholder="Пароль">
            <input type="submit" name="" value="Вход">
            <p style="font-size:18px">Нету аккаунта? <a onclick="registerModal('register')" style="font-size:18px;font-weight:600;cursor:pointer">Создать новый</a> </p>
        </form>

        <form class="box" id="registerModal" action="/Auth/Register" method="post" style="display:none">
            <h1>Регистрация <span onclick="closeModals('login')" style="margin: -77px 115px; font-size: 21px; cursor: pointer;position: absolute;">&#10006;</span></h1>
            <input type="text" name="name" placeholder="Ваше имя">
            <input type="text" name="username" placeholder="Логин">
            <input type="password" name="password" placeholder="Пароль">
            <input type="submit" name="" value="Регистрация">
        </form>

        @RenderBody()
    </div>

    <div id="productModal" style="background: burlywood;
    position: absolute;
    top: 144%;
    left: 30%;
    width: 34%;
       font-weight:600;
    font-size:20px;
    display:none;
 
}">
        <span onclick="closeProduct()" style="top: -2%; left: 94%; font-size: 21px; cursor: pointer;position: absolute;">&#10006;</span>
        <span id="product-modal-inf"></span>
        <input type="number" id="productCount" name="productPrice" value="" onkeyup="priceForProduct()" />
        <p>Итого: <span id="summaryPrice"></span></p>
        <button onclick="addProductToShoppingCart()" style="background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin-left:139px;
    display: inline-block;
    font-size: 16px;">Добавить в корзину</button>
    </div>

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

<script>
    var productName = "";
    var productPrice = 0;
    var priceForOne = 0;

    $(document).ready(function () {
        $(".owl-nav").hide();

        $.ajax({
            url: '/Product/GetProducts',
            type: 'GET',
            success: function (html) {

                $("#products-data").remove();
                $("#products").append(html)
            }
        });
    });

    function closeProduct() {
        $("#productModal").hide("slow");
    }

    function addProductToShoppingCart() {
           $.ajax({
            url: '/ShoppingCart/AddProduct',
               type: 'POST',
               data: { productName: productName, price: productPrice },
               success: function (html) {
                   location.reload();
            }
        });
    }
    function closeModals(condition) {
           $(".slide-one-item").css("opacity", "1");
        $(".slide-one-item").css("z-index", "1");

            $("#registerModal").hide("slow");
        $("#loginModal").hide("slow");

         $("#loginModal").css("z-index", "0");
           $("#registerModal").css("z-index", "0");
    }

     function loginModal() {
         $("#registerModal").hide();

             $("#loginModal").css("z-index", "1");
         $("#loginModal").show("slow");
     
      $(".slide-one-item").css("opacity", "0.2");
         $(".slide-one-item").css("z-index", "0");
    }


    function productsModal(product, price, unitOfCalc) {
        productName = product;
        priceForOne = price;

        $("#productModal").show("slow");
        var result = "Продукт " + product + "(" + price + " за " + unitOfCalc + ")"
        $("#product-modal-inf").text(result)

    }


    function registerModal() {

        $("#loginModal").hide();

        $(".slide-one-item").css("opacity", "0.2");
        $(".slide-one-item").css("z-index", "0");

          $("#registerModal").css("z-index", "1");
        $("#registerModal").show("slow");
      
    }

   $(".shopping-cart").mouseover(function(){

       $(".shopping-cart").css("color", "blue");

}).mouseout(function(){

     $(".shopping-cart").css("color", "darkorange");

});

    $("#about").click(function (event) {
        event.preventDefault();
                $('html, body').animate({
                    scrollTop: $("#about-sect").offset().top
                }, 2000);
    });

     $("#contacts").click(function (event) {
        event.preventDefault();
                $('html, body').animate({
                    scrollTop: $("#contacts-sect").offset().top
                }, 2000);
    });

    function priceForProduct() {
        productPrice = $("#productCount").val() * priceForOne;

        $("#summaryPrice").text(productPrice);
    }

       $("#rooms").click(function (event) {
        event.preventDefault();
                $('html, body').animate({
                    scrollTop: $("#rooms-sect").offset().top
                }, 2000);
            });
</script>
