﻿@using CrnStudios.Models

@model UserViewModel

@Styles.Render("~/Content/css")
<div class="site-navbar-wrap js-site-navbar bg-white">

    <div class="container">
        <div class="site-navbar bg-light">
            <div class="py-1">
                <div class="row align-items-center">
                    <div class="col-12">
                        <nav class="site-navigation text-right" role="navigation">
                            <div class="container">

                                <div class="d-inline-block d-lg-none  ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a></div>
                                <ul class="site-menu js-clone-nav d-none d-lg-block">
                                    <li class="active">
                                        <a href="/Home">Главная</a>
                                    </li>
                                    <li><a id="rooms" href="#">Товары</a></li>
                                    <li><a href="#" id="about">О Нас</a></li>
                                    <li><a id="contacts" href="#">Контакты</a></li>

                                    @if (!Model.isLogged)
                                    {
                                        <li><a style="cursor:pointer" onclick="loginModal()" id="login">Вход</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="#">Приветствую вас, @Model.Name</a></li>
                                        <li><a href="#">Ваш баланс : @Model.Balance</a></li>
                                        <li>
                                            <a class="shopping-cart" style="margin-right:3px;color:darkorange;cursor:pointer" onclick="showCartModal()">
                                                <img style="height:25px;margin-right:5px " src="~/Images/shopping-cart.png" />
                                                @if (Model.Orders > 0)
                                                {
                                                    <span>@Model.Orders</span>
                                                }
                                            </a>
                                        </li>
                                        <li><a href="/Auth/Logout">Выход</a></li>
                                    }

                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        function showCartModal() {
             $.ajax({
            url: '/ShoppingCart/GetProducts',
            type: 'GET',
                 success: function (html) {
                     $(".shop-cart").remove();
                     $("#shoppingCart-modal").append(html);
                 $("#shoppingCart-modal").show("slow")
                   $("#products-data-section").css("z-index", "0");
                  $("#products-data-section").css("opacity", "0");
            }
        });
         
    }
</script>