﻿@model IEnumerable<ProductViewModel>
        @foreach (var product in Model)
        {
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="hotel-room text-center">
                    <a style="cursor:pointer" onclick="productsModal(@Json.Encode(product.Name),@Json.Encode(product.ProductPrice),@Json.Encode(product.UnitOfCalculation))" class="d-block mb-0 thumbnail"><img src="~/Images/@product.ImageUrl" alt="Image" height="800" width="500" class="img-fluid img-room"></a>
                    <div class="hotel-room-body">
                        <h3 class="heading mb-0"><a href="#">@product.Name</a></h3>
                        <strong class="price">@product.ProductPrice за @product.UnitOfCalculation</strong>
                    </div>
                </div>
            </div>
        }


