﻿@using CrnStudios.Models

@model IList<ProductViewModel>

@{
    float summaryPrice = 0;
    summaryPrice = Model.Select(x => x.ProductSummaryPrice).Sum();
}

<link rel="stylesheet" href="~/Content/shopping-cart.css" type="text/css">
<link rel="stylesheet" href="~/Content/fontawesome.css">

<section class="well well-sm section-border shop-cart">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table order text-center text-md-left">
                    <colgroup>
                        <col class="col-xs-1">
                        <col class="col-xs-1">
                        <col class="col-xs-3 col-sm-5">
                        <col class="col-xs-1">
                        <col class="col-xs-1 col-sm-2">
                        <col class="col-xs-1 col-sm-2">
                    </colgroup>
                    <thead>
                        <tr class="bg-lighter text-uppercase text-darker-clr font-secondary section-border">
                            <th></th>
                            <th></th>
                            <th>Продукт</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Итого</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count > 0)
                        {
                            foreach (var product in Model)
                            {
                                <tr class="section-border">
                                    <td class="text-center"><a onclick="deleteProductFromCart(@Json.Encode(product.ShoppingCartId))" style="cursor:pointer;font-size:32px" class="fa-trash-o h5 text-light-clr"></a></td>
                                    <td class="text-center"><a><img src="~/Images/@product.ImageUrl" style="min-width:130px" alt=""></a></td>
                                    <td class="text-left">
                                        <h6 class="text-dark-variant-4" style="font-size:18px"><a>@product.Name</a></h6>
                                    </td>
                                    <td><span class="price" style="margin-left:10px">@product.ProductPrice</span></td>
                                    <td><span class="quantity" style="margin-left:20px">@(product.ProductSummaryPrice / product.ProductPrice) @product.UnitOfCalculation</span></td>
                                    <td><span class="price" style="margin-left:10px">@product.ProductSummaryPrice</span></td>
                                </tr>
                            }
                        }


                    </tbody>
                </table>
            </div>

            <div class="col-xs-12 offset-5" style="margin-left:0">
                <table class="table cart-total">
                    <colgroup>
                        <col class="col-xs-6">
                        <col class="col-xs-6">
                    </colgroup>
                    <thead>

                        <tr class="font-secondary text-base">
                            <th class="bg-lighter">Итого</th>
                            <th class="bg-lighter total text-right"><span class="price">@summaryPrice</span></th>
                        </tr>
                    </thead>
                </table>
                <div style="display:flex">
                    <div class="text-center text-sm-right"><a onclick="BuyProducts(@Json.Encode(summaryPrice))" class="btn btn-primary btn-xs round-small">Купить</a></div>
                    <div class="text-center text-sm-right"><a style="cursor:pointer" onclick="hideShoppingCart()" class="btn btn-primary btn-xs round-small">Закрыть</a></div>
                </div>

            </div>
        </div>
    </div>

</section>
<script>
    function deleteProductFromCart(cartId) {
        $.ajax({
            url: '/ShoppingCart/DeleteProductFromShoppingCart',
            data: { Id: cartId },
            type: 'POST',
            success: function (html) {
                $(".shop-cart").remove();
                $("#shoppingCart-modal").append(html);
            }
        });

    }

    function BuyProducts(sum) {
        $.ajax({
            url: '/ShoppingCart/BuyProducts',
            data: { price: sum },
            type: 'POST',
            success: function (html) {
                location.reload();
            }
        });

    }

    function hideShoppingCart() {
        $("#shoppingCart-modal").hide("slow");
        $("#products-data-section").css("z-index", "1");
        $("#products-data-section").css("opacity", "1");
    }

</script>
